app-icon {
  flex: 1 auto;
}

ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

li {
  list-style-type: none; 
  height: 80px;
  line-height: 80px;
  margin-bottom: 5px;
  color: white;
  font-size: 40px;
  background-color: cadetblue;
}

.bar {
  height: 80px;
  background-color: indianred;
  width: 50%;
}

.percent {
  width: 100%;
  position: absolute;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bold {
  font-weight: 600;
}

.amount {
  flex: 2 auto;
}

.plusIcon {
  position: absolute;
  right: 35px;
}